[submodule "home/dot_config/nvim/pack/plugins/external_start/flip"]
	path = nvim/pack/plugins/start/flip
	url = https://github.com/jpetrie/flip.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/lantern"]
	path = nvim/pack/plugins/start/lantern
	url = https://github.com/jpetrie/lantern.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/mini.completion"]
	path = nvim/pack/plugins/start/mini.completion
	url = https://github.com/nvim-mini/mini.completion.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/mini.icons"]
	path = nvim/pack/plugins/start/mini.icons
	url = https://github.com/nvim-mini/mini.icons.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/oil.nvim"]
	path = nvim/pack/plugins/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/overseer.nvim"]
	path = nvim/pack/plugins/start/overseer.nvim
	url = https://github.com/stevearc/overseer.nvim.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/plenary.nvim"]
	path = nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/resession.nvim"]
	path = nvim/pack/plugins/start/resession.nvim
	url = https://github.com/stevearc/resession.nvim.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/telescope.nvim"]
	path = nvim/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/telescope-fzy-native.nvim"]
	path = nvim/pack/plugins/start/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim.git
[submodule "home/dot_config/nvim/pack/plugins/external_start/turnip"]
	path = nvim/pack/plugins/start/turnip
	url = https://github.com/jpetrie/turnip.git
[submodule "nvim/parsers/tree-sitter-cpp"]
	path = nvim/parsers/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "nvim/queries/nvim-treesitter-queries-cpp"]
	path = nvim/queries/nvim-treesitter-queries-cpp
	url = https://github.com/neovim-treesitter/nvim-treesitter-queries-cpp.git
