[user]
  name = Josh Petrie
  email = josh@joshpetrie.net
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK2G7NHXrGa8mNi9fxeco9Zc5vg4IXk/W/9Ol05KgtOW
[core]
  editor = nvim
  excludesfile = ~/.gitignore
{{- if eq .chezmoi.os "windows"}}
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end}}
[init]
  defaultBranch = main
[commit]
  gpgsign = true
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[color "decorate"]
  branch = brightgreen
  remoteBranch = brightgreen
  head = green
[color "diff"]
  commit = yellow
  frag = yellow
  new = brightgreen
  old = white
[color "status"]
  branch = yellow
  changed = brightblack
[gpg]
  format = ssh
[gpg "ssh"]
  program = {{if eq .chezmoi.os "darwin"}}/Applications/1Password.app/Contents/MacOS/op-ssh-sign{{else if eq .chezmoi.os "windows"}}"{{.chezmoi.homeDir}}/AppData/Local/1Password/app/8/op-ssh-sign.exe"{{end}}
[alias]
  d = difftool
  l = log --oneline --graph

