[user]
  name = Josh Petrie
  email = josh@joshpetrie.net
  signingkey = {{.chezmoi.destDir}}/.ssh/id_ed25519
[core]
  editor = nvim
  excludesfile = {{.chezmoi.destDir}}/.gitignore
  {{- if eq .chezmoi.os "windows"}}
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
  {{- end}}
[init]
  defaultBranch = main
[commit]
  gpgsign = true
  template = {{.chezmoi.destDir}}/.gitmessage
[tag]
  gpgsign = true
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[color "decorate"]
  branch = brightmagenta
  head = brightmagenta bold
  remoteBranch = brightmagenta
  tag = blue
[color "diff"]
  commit = green
  frag = yellow
  new = brightgreen
  old = white
[color "status"]
  branch = brightmagenta
  changed = brightblack
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = {{.chezmoi.destDir}}/.ssh/allowed_signers
[alias]
  d = difftool
  l = log --oneline --graph
  s = status --short --branch

