{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle install --file=- <<EOF
brew "cmake"
brew "cmake-language-server"
brew "doxygen"
brew "fd"
brew "fish"
brew "fzy"
brew "git"
brew "lua-language-server"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "tree-sitter-cli"
cask "1password"
EOF
{{ end -}}

